/* Ikinci Ders External CSS Ornek */
.external-h2{
    color: bisque;
    font-size: xx-large;
}
.external-p{
    color: aqua;
    font-size: 30px;
}
/* Ikinci Ders External CSS Ornek */

/* UCUNCU DERS GENEL FONT OZELLIKLERI */
section article p{
    font-size: 50px;
    text-transform: uppercase;
}
body{ 
    background-color: burlywood;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* UCUNCU DERS GENEL FONT OZELLIKLERI */