body {
    background-color: #222831;
}
.container {
    margin: auto;
    width: 75%;
    height: auto;
    margin-bottom: 15px;
}
/* navbar starts */
header {
    display: flex;
    height: 100px;
}
nav {
    display: flex;
    width: 100%;
    background-color: #393E46;
    align-items: center;
}
#nav-list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style-type: none;
}
#nav-list li a {
    font-size: 30px;
    color: #00ADB5;
    text-decoration: none; 
}
/* navbar ends */

/* section starts about-us-html */
.about-us-title {
    color:#00ADB5;
    text-align: center;
}
section {
    background-color:#393E46;
}
article {
    width: 90%;
    margin: 0px 5%;
    padding: 5px;
}
.about-us-p {
    color: #EEEEEE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
/* section ends about-us-html */

/* footer starts about-us-footer */
footer {
    background-color: #393E46;
}
#footer-article {
    display: grid;
    
}
#footer-ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    
}
.text-decoration-none {
    text-decoration: none;
    color: #EEEEEE;
}  
#logo {
    height: 200px;
    width: 300px;
    
}
.background{
    background-color: #00ADB5;
    padding: 50px;
}
/* Footer ends    about-us-footer */